
body {
    font-family: 'Vollkorn', serif;
}

.section-padding {
    padding: 7em 0;
}

.ufc-logo {
    width: 80px;
    height: auto;

}

.title {
    font-family: 'Montserrat', sans-serif;
}



.header-links {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 1.3rem;
}


.add-atleta-link {
    text-decoration: none;
    
}

.add-atleta-link i {
    font-size: 1.8em;
}


.borda-redonda {
    border-radius: 2rem;
}

.form-background {
    background-color: whitesmoke;
    padding: 2rem;
}
